/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EAE0C8;
}
header {
    background: #536878;
    color: #EAE0C8;
    text-align: center;
    padding: 20px;
}
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background: #536878;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: #EAE0C8;
    text-decoration: none;
}
section {
    padding: 20px;
    background: #EAE0C8;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
}
a {
    color: #007BFF;
}
